@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme inline {
  --color-dark-blue: #3328bf;
  --color-broken-white: #fcfcfc;
  --color-brand-blue: #3328bf;
  --font-jakarta: "Plus Jakarta Sans", "sans-serif";
}
